<!doctype html>
<title>Overview</title>
<div class="overview-page">
  <h2 class="title">Bookmarks Overview</h2>
  <div class="bookmark-input-container">
    <form 
      class="bookmark-form" 
      [formGroup]="bookmarkForm" 
      (ngSubmit)="onSubmit()">
      <label class="form-label" for="link">Bookmark URL:</label>
      <input 
        class="form-input" 
        id="link" 
        type="url" 
        formControlName="link"/>
      <button 
        mat-flat-button 
        class="submit-button"
        type="submit">
        Add bookmark
      </button>
    </form>
    <div class="error-message">{{ urlError }}</div>
  </div>
  <!-- List of bookmarks -->
  <div class="bookmark-container">
    <div class="bookmarks">
      <div class="bookmark" 
      *ngFor="let bookmark of displayedBookmarks" 
      [class.duplicate-error]="bookmark === duplicateBookmark"
      [class.edit-error]="bookmark===editingBookmark && urlError">
        <!-- Regular bookmark display when not being edited -->
        <ng-container *ngIf="!(bookmark === editingBookmark)">
          <a class="bookmark-hyperlink" [href]="bookmark">{{ bookmark }}</a>
          <div class="edit-delete-buttons">
            <button (click)="editBookmark(bookmark)" mat-icon-button class="edit-button">
              <mat-icon class="material-icons-outlined edit-icon">edit</mat-icon>
            </button>
            <button (click)="deleteBookmark(bookmark)" mat-icon-button class="delete-button">
              <mat-icon class="material-icons-outlined delete-icon">delete</mat-icon>
            </button>
          </div>
        </ng-container>
        <!-- Bookmark currently being edited -->
        <form [formGroup]="editForm" *ngIf="bookmark === editingBookmark" id="edit" class="bookmark edit-bookmark" (ngSubmit)="onEdit()">
          <input class="edit-input" type="url" formControlName="edit"/>
          <div class="edit-delete-buttons">
            <button mat-icon-button class="edit-button" type="submit">
              <mat-icon class="material-icons-outlined confirm-icon">done</mat-icon>
            </button>
            <button mat-icon-button (click)="closeEditing()" class="edit-button" type="button">
              <mat-icon class="material-icons-outlined cancel-icon">close</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Paginator -->
  <div class="paginator">
    <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="first" 
      [rows]="rows" 
      [totalRecords]="allBookmarks.length"/>
  </div>
</div>