.overview-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-bottom: 12px;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--mat-sys-on-primary-fixed);
  margin: 14px 0 10px;
}

.bookmark-input-container {
  width: min(950px, 90vw);
}

.bookmark-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.85rem;
  font-size: 1rem;
}

.form-label {
  padding-right: 0.5rem;
}

.form-input {
  height: 100%;
  width: min(550px, 100%);
  border-radius: 5px;
  border: 1.5px solid var(--mat-sys-on-primary-fixed);
}

.input-error,
.input-error:focus {
  border: 2px solid var(--mat-sys-error);
  outline: none;
}

.submit-button {
  margin-left: 0.5rem;
  padding: 0.325rem;
  font-size: inherit;
  border-radius: 10px;
  min-width: fit-content;
}

.error-message {
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  color: var(--mat-sys-error);
  font-size: 1rem;
}

.bookmark-container {
  align-items: start;
  height: 80.5vh;
  margin: 0 0 1vh;
  width: min(950px, 90vw);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  scrollbar-color: var(--mat-sys-on-primary-fixed-variant) transparent;
  scrollbar-width: thin;
  border: 0.375vh solid var(--mat-sys-on-primary-fixed-variant);
  background-color: var(--mat-sys-surface-container-high);
}

.bookmarks {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  height: 79.875vh;
  .bookmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    height: 5%;
    min-height: fit-content;
    width: 100%;
  }

  .bookmark:nth-child(even) {
    background-color: var(--mat-sys-inverse-on-surface);
    .bookmark-hyperlink {
      color: var(--mat-sys-on-tertiary-fixed-variant);
    }
    .delete-button:hover {
      background-color: var(--mat-sys-inverse-on-surface) !important;
    }
  }
  .bookmark:nth-child(odd) {
    background-color: var(--mat-sys-surface-variant);
    .bookmark-hyperlink {
      color: var(--mat-sys-on-primary-fixed);
    }
  }
}

.delete-button {
  display: flex;
  padding: 0;
  margin-right: 0.5rem;
  width: auto;
  height: auto;
  --mat-icon-button-touch-target-size: 0;
  mat-icon {
    color: var(--mat-sys-on-primary-fixed);
  }
}

.paginator {
  display: flex;
  justify-self: center;
  --p-paginator-gap: 10px;
  --p-paginator-nav-button-color: var(--mat-sys-on-primary-fixed-variant);
  --p-paginator-nav-button-hover-color: var(--mat-sys-on-primary-fixed-variant);
  --p-paginator-nav-button-selected-color: var(--mat-sys-surface);
  --p-paginator-nav-button-width: 2rem;
  --p-paginator-nav-button-height: 2rem;
  --p-paginator-nav-button-selected-background: var(--mat-sys-on-primary-fixed-variant);
  --p-paginator-nav-button-hover-background: var(--mat-sys-surface-variant);
  --p-paginator-nav-button-border-radius: 50%;
}