@use '@angular/material' as mat;
@include mat.core();

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

// Increase font size of paginator numbers.
.p-paginator .p-paginator-page {
  font-size: 1.25rem !important;
}

// Increase size of paginator arrows.
.p-paginator .p-paginator-prev svg,
.p-paginator .p-paginator-next svg,
.p-paginator .p-paginator-last svg,
.p-paginator .p-paginator-first svg {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.mat-mdc-icon-button:hover {
  mat-icon {
    color: var(--mat-sys-tertiary) !important; 
  }
}

.mat-mdc-button-persistent-ripple::before {
  background-color: transparent !important;
}